CREATE TABLE services (
            id          INTEGER PRIMARY KEY AUTOINCREMENT,
            osm_id      TEXT,
            category    TEXT    NOT NULL,
            name        TEXT,
            lat         REAL    NOT NULL,
            lon         REAL    NOT NULL,
            phone       TEXT    DEFAULT '',
            address     TEXT    DEFAULT '',
            website     TEXT    DEFAULT '',
            tags        TEXT    DEFAULT '{}',
            region_key  TEXT,
            cached_at   TEXT,
            UNIQUE(osm_id, category)
        )

CREATE TABLE sqlite_sequence(name,seq)

CREATE TABLE cache_meta (
            region_key  TEXT,
            category    TEXT,
            cached_at   TEXT,
            record_count INTEGER DEFAULT 0,
            PRIMARY KEY (region_key, category)
        )

CREATE TABLE emergency_numbers (
            country_code TEXT PRIMARY KEY,
            country_name TEXT,
            police       TEXT,
            ambulance    TEXT,
            fire         TEXT,
            general      TEXT
        )

CREATE TABLE incidents (
            id          INTEGER PRIMARY KEY AUTOINCREMENT,
            lat         REAL NOT NULL,
            lon         REAL NOT NULL,
            type        TEXT NOT NULL,
            description TEXT DEFAULT '',
            reported_at TEXT NOT NULL,
            active      INTEGER DEFAULT 1
        )
